
.icon-trash:before { content: '\e800'; } /* '' */
.icon-pencil-alt:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\e803'; } /* '' */
.icon-laptop-1:before { content: '\e804'; } /* '' */
.icon-angle-circled-up:before { content: '\e805'; } /* '' */
.icon-left:before { content: '\e806'; } /* '' */